<!-- Bolt PPC addition -->
<script
  id="bolt-connect"
  type="text/javascript"
  src="https://connect.bolt.com/connect-bigcommerce.js"
  data-publishable-key="irGDK8m77NGC.hndlniMC-ZWK.00ff48564da9e5560a57b0d1b3c2050d2ef686b7e9f16423c4c1888a9d22e281"
  data-shopping-cart-id="BigCommerce"
  data-storefront-api-token="{{settings.storefront_api.token}}">
</script> 

<!-- End Bolt PPC addition -->
<div class="form-field form-field--increments">
    <label class="form-label form-label--alternate"
           for="qty[]">{{lang 'products.quantity'}}</label>

    <div class="form-increment" data-quantity-change>
        <button class="button button--icon" data-action="dec" type="button">
            <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
            <i class="icon" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-keyboard-arrow-down"/>
                </svg>
            </i>
        </button>
        <input class="form-input form-input--incrementTotal"
               id="qty[]"
               name="qty[]"
               type="tel"
               value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
               data-quantity-min="{{product.min_purchase_quantity}}"
               data-quantity-max="{{product.max_purchase_quantity}}"
               min="1"
               pattern="[0-9]*"
               aria-live="polite">
        <button class="button button--icon" data-action="inc" type="button">
            <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
            <i class="icon" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-keyboard-arrow-up"/>
                </svg>
            </i>
        </button>
    </div>
</div>

{{#or product.min_purchase_quantity product.max_purchase_quantity}}
    <div class="min-max-purchase">
{{/or}}
{{#if product.min_purchase_quantity}}
<div>
    <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
</div>
{{/if}}
{{#if product.max_purchase_quantity}}
<div>
    <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
</div>
{{/if}}
{{#or product.min_purchase_quantity product.max_purchase_quantity}}
    </div>
{{/or}}

<div class="alertBox productAttributes-message" style="display:none">
    <div class="alertBox-column alertBox-icon">
        <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
    </div>
    <p class="alertBox-column alertBox-message"></p>
</div>
{{#or customer (if theme_settings.restrict_to_login '!==' true)}}
    <div class="form-action">
        <input id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary" type="submit"
            value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}">
    </div>
    <!-- Bolt PPC addition -->
    {{#if product.out_of_stock}}
    {{else}}
        <div id="product-page-checkout-wrapper" class="bolt-button-wrapper">
            <div class="bolt-product-checkout-button bolt-multi-step-checkout"></div>
        </div>

    {{/if}}

    <script>
        var checker = function() {
            var boltBtn = document.getElementById('product-page-checkout-wrapper');
            setTimeout(function(){
                if(window.stencilUtils && window.stencilUtils.hooks){
                    window.stencilUtils.hooks.on('product-options-change-remote', (data) => {
                        if (data.response.data.instock) {
                            boltBtn.style.display = 'block';
                        } else {
                            boltBtn.style.display = 'none';
                        }
                    });
                }
                else{
                    checker();
                }
            }, 500);
        }
        checker();
    </script>
    <!-- End Bolt PPC addition -->
{{/or}}
